<body class="bg-dark">
    <div class="container text-white">
        <div class="page-heading dark-card mt-3">
            <div class="media clearfix">
                <div class="media-left pr30">
                    <a href="#">
                        <img class="media-object mw150" src="{{{check_picture data.organizations.0.picture}}}" alt="...">
                    </a>
                </div>
                <div class="media-body va-m text-center">
                    <h2 class="media-heading ">{{data.objective}}
                    </h2>
                    <p class="lead">{{data.organizations.0.name}}</p>
                    <p class="lead">{{data.compensations.0.minAmount}} - {{data.compensations.0.maxAmount}}
                        {{data.compensations.0.currecy}}</p>
                    <p class="lead">{{data.place.location.0.id}}</p>
                    <p class="lead">Remote: {{data.place.remote}}</p>
                </div>
            </div>
        </div>
        <div class=" mt-5 mb-5">
            <h4>Members</h4>
            <br>
            <div class="d-flex overflow-x">
                {{#each data.members}}
                <div class="single_advisor_profile wow fadeInUp mr-3 h-100" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <!-- Team Thumb-->
                    <div class="advisor_thumb"><img src="{{{check_picture this.person.pictureThumbnail}}}" alt="">
                    </div>
                    <!-- Team Details-->
                    <div class="single_advisor_details_info">
                        <h6>{{this.person.name}}</h6>
                        <p class="designation">{{this.person.professionalHeadline}}</p>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
        
        <div class="mb-5">
            <h4>Skills</h4>
            <div class="d-flex">
                <div class="card h-100 dark-card w-100">
                    <div class="card-body">
                        {{#each data.strengths}}
                        <span class="badge badge-pill text-white font-medium torrebg-color mr-2">{{this.name}}
                            {{this.experience}}</span>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>

        <div class="mb-5">
            <h4>Languages</h4>
            <div class="d-flex">
                <div class="card h-100 dark-card w-100">
                    <div class="card-body">
                        {{#each data.languages}}
                        <span class="badge badge-pill text-white font-medium torrebg-color mr-2">{{this.language.name}}
                            {{this.fluency}}</span>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>

        <div class="mb-5">
            {{#each data.details}}
            <h4>{{this.code}}</h4>
            <div class="d-flex mb-5">
                <div class="card h-100 dark-card w-100">
                    <div class="card-body">
                        <p>{{this.content}}</p>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</body>