<body class="bg-dark">
    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card dark-card text-white">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{data.info.picture}}" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{data.info.name}}</h4>
                                    <p>{{data.info.publicId}}</p>
                                    <p class="font-size-sm">{{data.info.location.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3 dark-card text-white">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fas fa-globe"></i> Website</h6>
                                <span class="text-secondary">{{{getlink "website" data.info.links}}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fab fa-github"></i> Github</h6>
                                <span class="text-secondary">{{{getlink "github" data.info.links}}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fab fa-twitter"></i> Twitter</h6>
                                <span class="text-secondary">{{{getlink "twitter" data.info.links}}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fab fa-instagram"></i> Instagram</h6>
                                <span class="text-secondary">{{{getlink "instagram" data.info.links}}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fab fa-linkedin-in"></i> Linkedin</h6>
                                <span class="text-secondary">{{{getlink "linkedin" data.info.links}}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3 dark-card text-white">
                        <div class="card-body">
                            <h5 class="text-center">{{data.info.professionalHeadline}}</h5>
                            <p>{{data.info.summaryOfBio}}</p>
                        </div>
                    </div>
                    <div class="row gutters-sm">
                        <div class="col-sm-4 mb-3">
                            <div class="card h-100 dark-card">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i
                                            class="material-icons text-info mr-2">Skills</i></h6>
                                    {{#each data.strengths}}
                                    <span class="badge badge-pill text-white font-medium torrebg-color mr-2">{{this.name}}</span>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="card h-100 dark-card">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i
                                            class="material-icons text-info mr-2">Languages</i></h6>
                                    {{#each data.languages}}
                                    <span class="badge badge-pill text-white font-medium torrebg-color mr-2">{{this.languageName}}</span>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="card h-100 dark-card">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i
                                            class="material-icons text-info mr-2">Interested in</i></h6>
                                    {{#each data.interests}}       
                                    <span class="badge badge-pill text-white font-medium torrebg-color mr-2">{{this.name}}</span>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-box dark-card mt-4 pb-3">
                        <div class="mt-2">
                        <ul class="nav nav-pills navtab-bg">
                            <li class="nav-item">
                                <a href="#experience" data-toggle="tab" aria-expanded="true" class="nav-link ml-0 active">
                                    <i class="mdi mdi-face-profile mr-1"></i>Experience
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#projects" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    <i class="mdi mdi-settings-outline mr-1"></i>Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#publications" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    <i class="mdi mdi-settings-outline mr-1"></i>Publications
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#education" data-toggle="tab" aria-expanded="false" class="nav-link">
                                    <i class="mdi mdi-settings-outline mr-1"></i>Education
                                </a>
                            </li>
                        </ul>
                        </div>
                        <div class="tab-content text-white">

                            <div class="tab-pane show active" id="experience">

                                <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
                                    Experience</h5>

                                <ul class="list-unstyled timeline-sm">
                                    {{#each data.jobs}}
                                    <li class="timeline-sm-item">
                                        <span class="timeline-sm-date">{{{date_format this.fromMonth this.fromYear this.toMonth this.toYear}}}</span>
                                        <h5 class="mt-0 mb-1">{{this.name}}</h5>
                                        <p>{{this.organizations.0.name}}</p>
                                        <p class="mt-2">{{this.responsibilities}}</p>

                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <!-- end timeline content-->

                            <div class="tab-pane" id="projects">
                                <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
                                    Projects</h5>

                                <ul class="list-unstyled timeline-sm">
                                    {{#each data.projects}}
                                    <li class="timeline-sm-item">
                                        <span class="timeline-sm-date">{{{date_format this.fromMonth this.fromYear this.toMonth this.toYear}}}</span>
                                        <h5 class="mt-0 mb-1">{{this.name}}</h5>
                                        <p>{{this.organizations.0.name}}</p>
                                        <p class="mt-2">{{this.responsibilities}}</p>

                                    </li>
                                    {{/each}}
                                </ul>
                            </div>

                            <div class="tab-pane" id="publications">
                                <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
                                    Publications</h5>

                                <ul class="list-unstyled timeline-sm">
                                    {{#each data.publications}}
                                    <li class="timeline-sm-item">
                                        <span class="timeline-sm-date">{{{date_format this.fromMonth this.fromYear this.toMonth this.toYear}}}</span>
                                        <h5 class="mt-0 mb-1">{{this.name}}</h5>
                                        <p>{{this.organizations.0.name}}</p>
                                        <p class="mt-2">{{this.responsibilities}}</p>

                                    </li>
                                    {{/each}}
                                </ul>
                            </div>

                            <div class="tab-pane" id="education">
                                <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i>
                                    Education</h5>

                                <ul class="list-unstyled timeline-sm">
                                    {{#each data.education}}
                                    <li class="timeline-sm-item">
                                        <span class="timeline-sm-date">{{{date_format this.fromMonth this.fromYear this.toMonth this.toYear}}}</span>
                                        <h5 class="mt-0 mb-1">{{this.name}}</h5>
                                        <p>{{this.organizations.0.name}}</p>
                                        <p class="mt-2">{{this.responsibilities}}</p>

                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <!-- end settings content-->

                        </div> <!-- end tab-content -->
                    </div> <!-- end card-box-->


                </div>
            </div>
        </div>
    </div>
</body>