

<body class="d-block h-100 text-center text-white bg-dark">

<div class="background-image">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">


  <main class="px-3 mb-auto mt-auto ">
    <h1>Welcome to Torre</h1>
    <p class="lead">The best professional network for remote and flexible work</p>
    <p>
          <a href="/torre/searchjobs?page=1&offset=0" class="btn my-2 torrebg-color pl-5 pr-5">Search for jobs</a>
          <a href="/torre/searchemployees?page=1&offset=0" class="btn my-2 torrebg-color pl-5 pr-5">Search employees</a>
        </p>
  </main>

</div>
</div>

<div class="row p-5">
  {{#each data.jobs}}
    <div class="col-4">
        <div class="card bg-dark text-white">
  <img src="/images/Developer.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">{{this.value}}</h5>
    <p class="card-text">{{this.total}} jobs</p>
    <p class="card-text">
        <a href="/torre/searchjobs?page=1&offset=0&skill={{this.value}}" class="torre-color">Ver mas</a>
    </p>
  </div>
</div>
    </div>
    {{/each}}

</div>

<div class="row p-5">
  {{#each data.users}}
    <div class="col-4">
        <div class="card bg-dark text-white">
  <img src="/images/Developer.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">{{this.value}}</h5>
    <p class="card-text">{{this.total}} persons</p>
    <p class="card-text">
        <a href="/torre/searchemployees?page=1&offset=0&skill={{this.value}}" class="torre-color">Ver mas</a>
    </p>
  </div>
</div>
    </div>
    {{/each}}
    
</div>
    
  </body>